/**
 * $file
 * Visual styles for fields.
 */

.field--label {
  font-weight: bold;
}

[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
  padding-left: 0.5em;
  padding-right: 0;
}


.field-label-inline {
	.field-label {
    float: left;
    padding: right;
    &::after {
      content: ':';
    }
  }
  & > .field-item {
    padding-right: 0.5em;
  }
  .field-items {
    float: left;
    padding: right;
  }
}